<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Productivity Application</title>
	<meta name="description" content="Be More Productive">
	<link rel="icon" href="/images/favicon.ico">

	<!-- place all the generated css files here -->
	<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>

</head>
<body>

	<div id="root">
		<div class="component__loading">
			<div class="loading">
				<div class="bar-container">
					<div class="bar"></div>
				</div>
				<p class="info">Loading... Please wait.</p>
			</div>
		</div>
	</div>

	<!-- place all the generated js here -->
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script defer src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>

</body>
</html>